snippet img
	image_tag("${1}")${2}
snippet lorem
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi viverra lacus nisi. Pellentesque nec orci arcu. Nulla sagittis, eros vehicula suscipit pulvinar, purus tellus varius magna, sed luctus purus neque at elit. Aliquam erat volutpat. Vestibulum nibh ligula, accumsan porttitor pulvinar condimentum, tincidunt eget felis. Curabitur condimentum ultrices nibh. Duis accumsan, sem molestie convallis ultricies, massa tellus auctor tellus, et congue neque tortor et tellus.
	Mauris eu quam felis, ut pulvinar mauris. Integer et diam lectus. Nullam at pharetra orci. Proin tincidunt velit vel arcu volutpat viverra in eu libero. Nullam in elit dolor. In consectetur, velit et consectetur gravida, purus est viverra justo, ac sagittis dui magna non quam. Proin a magna ipsum, a condimentum nunc. Fusce ac velit non risus tincidunt dictum nec luctus nunc. Mauris nisl quam, egestas eu congue imperdiet, egestas sed lectus.
	Donec convallis mauris id nibh condimentum adipiscing. Praesent vitae molestie magna. Praesent in dui arcu, vitae faucibus diam. Sed dui metus, commodo lobortis accumsan ac, auctor et sapien. Maecenas augue tortor, fringilla eget tristique eu, vehicula at massa. Aliquam non massa nisi. Mauris odio tellus, scelerisque vel feugiat sit amet, pulvinar non nisi. Donec egestas enim in urna porttitor bibendum. Suspendisse lacinia risus sit amet augue vehicula a vehicula sem sollicitudin.
